
		<ul>
            <li sec:authorize="hasAnyRole('Administrator', 'Signed in user')"><a th:classappend="${currentPage == 'signedinPage'} ? 'active'" th:href="@{/signedin/signedin}">Signed in content</a></li>
            <li sec:authorize="hasAnyRole('Administrator', 'Content editor')"><a th:classappend="${currentPage == 'contentPage'} ? 'active'" th:href="@{/content/content}">Content</a></li>
            <li sec:authorize="hasRole('Administrator')"><a th:classappend="${currentPage == 'users'} ? 'active'" th:href="@{/admin/users}">Users</a></li>
            <li sec:authorize="isAuthenticated()"><a th:classappend="${currentPage == 'index'} ? 'active'" th:href="@{/}">Main page</a></li>
            <li sec:authorize="isAuthenticated()" class="right" ><a th:href="@{/logout}">Logout</a></li>
            <li sec:authorize="isAuthenticated()" class="right" ><span th:text="'Last login: ' + ${{#request.userPrincipal.principal.lastLoginTime}}"></span></li>
            <li sec:authorize="isAuthenticated()" class="right" ><span th:text="'Roles: ' + ${#request.userPrincipal.principal.authorities}"></span></li>
            <li sec:authorize="isAuthenticated()" class="right" ><span th:text="'Roles: ' + ${#request.userPrincipal.principal.username}"></span></li>
        </ul>
        