div {
    background: none;
}

table, form {
	margin: 0px auto 30px auto;
}

table, th, td {
	border-collapse: collapse;
 	border: 2px solid black;
 	padding: 3px 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
    font-size: 12px;
}

li:last-child {
    border-right: none;
}

li.right {
	float: right;
	border-right: none;
	border-left:1px solid #bbb;
	font-size: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.active {
    background-color: #4CAF50;
}

span.error {
	color: red;
}